<!-- <div *ngFor="let data of data_all" >
    {{data.PCO_NAME}} - {{data.TOTAL_QUANTITY}} - {{data.MONTH}}
</div> -->


<style>
    .xyz 
    {
    
    border: 1px solid #0f0d0d;
    }
    .xyz tr{
      border: 1px solid #0f0d0d;
    }
    .xyz td{
      border: 1px solid #0f0d0d;
    }
    .center {
      margin-left: auto;
      margin-right: auto;
    }
  </style> 
  
  <html>
    <body>
      <h2>  </h2>
      
      <table class="xyz center">
        <tr>
          <td> STP Name</td>
          <td> Numbers of PCO</td>
          <td> Numbers of Patient </td>
          <td> Ratio of Patient wrt PCO </td>
        </tr>
        
        <tr *ngFor = "let d of data_all">
          <td> {{d.stp_name}} </td>
          <td> {{d.count_of_pco}} </td>
          <td> {{d.count_of_bnf}} </td>
          <td> {{d.count_of_bnf/d.count_of_pco}} </td>
        </tr>
      </table>

      <h6> STP Name : The name given to a geographical statutory organisation by NHS England that is a smaller division of a Region.</h6>
      <h6> PCO Name : An NHS organisation that commissions or provides care services involving prescriptions that are dispensed in the community. For example: a Sub Integrated Care Board Location (SICBL), an NHS Trust.</h6>
      <h6> BNF Code: British National Formulary (BNF) Code - The unique code used to refer to a BNF Presentation </h6>
      <div class="chart-wrapper">
        <canvas baseChart [type] = "'line'"
                          [datasets] = "chartData"
                          [options] = "chartOptions"
                          [labels] = "chartLabels">
        </canvas>
      </div>
    </body>
  </html>